[submodule "bench/sketches_benchmark/include/bitsense"]
	path = bench/sketches_benchmark/include/bitsense
	url = https://github.com/N2-Sys/BitSense.git
[submodule "bench/sketches_benchmark/include/sead_counter"]
	path = bench/sketches_benchmark/include/sead_counter
	url = https://github.com/SEADCounter/SEADCounter.git
